# MakerSpace Jam

In [1]:
import nest_asyncio

nest_asyncio.apply()

import logging
import sys

logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

## Primary Dependencies and Context Setting

In [2]:
!pip3 install -U -q openai==0.27.8 llama-index==0.8.6 nltk==3.8.1 python-dotenv

### Load the OPENAI API key

In [3]:
import os
import openai
from dotenv import load_dotenv

load_dotenv()
openai.api_key = os.environ["OPENAI_API_KEY"]

### Load token list

In [4]:
import pandas as pd

sheet_name = "GSW_token_list"
workbook_id = '1MB1ZsQul4AB262AsaY4fHtGW4HWp2-56zB-E5xTbs2A'
url = f'https://docs.google.com/spreadsheets/d/{workbook_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
df = pd.read_csv(url)
df.head()

INFO:numexpr.utils:NumExpr defaulting to 8 threads.
NumExpr defaulting to 8 threads.

              Staff Job title                             Token
0     Klay Thompson    Player  1bd8c9ee72e314e1dd8b2442e568fc3d
1  Jonathan Kuminga    Player  1bd8c9ee72e314e1dd8b2442e568fc3d
2        Chris Paul    Player  1bd8c9ee72e314e1dd8b2442e568fc3d
3     Stephen Curry    Player  1bd8c9ee72e314e1dd8b2442e568fc3d
4       Moses Moody    Player  1bd8c9ee72e314e1dd8b2442e568fc3d

In [5]:
token_list = df['Token'].tolist()

In [30]:
token_string = '_'.join(token_list)
token_string

'1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d_1bd8c9ee72e314e1dd8b2442e568fc3d'

## Data Loading

### Webpage

Using the Trafilatura Web Reader.

In [6]:
!pip3 install trafilatura

Requirement already satisfied: trafilatura in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (1.6.1)
Requirement already satisfied: certifi in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (2023.5.7)
Requirement already satisfied: courlan>=0.9.3 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (0.9.3)
Requirement already satisfied: htmldate>=1.4.3 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (1.5.0)
Requirement already satisfied: justext>=3.0.0 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (3.0.0)
Requirement already satisfied: lxml>=4.9.2 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (4.9.3)
Requirement already satisfied: charset-normalizer>=3.1.0 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (3.2.0)
Requirement already satisfied: urllib3<3,>=1.26 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from trafilatura) (1.26.15)
Requirement already satisfied: langcodes>=3.3.0 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from courlan>=0.9.3->trafilatura) (3.3.0)
Requirement already satisfied: tld>=0.13 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from courlan>=0.9.3->trafilatura) (0.13)
Requirement already satisfied: dateparser>=1.1.2 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from htmldate>=1.4.3->trafilatura) (1.1.8)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from htmldate>=1.4.3->trafilatura) (2.8.2)
Requirement already satisfied: pytz in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from dateparser>=1.1.2->htmldate>=1.4.3->trafilatura) (2023.3)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from dateparser>=1.1.2->htmldate>=1.4.3->trafilatura) (2023.5.5)
Requirement already satisfied: tzlocal in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from dateparser>=1.1.2->htmldate>=1.4.3->trafilatura) (4.3.1)
Requirement already satisfied: six>=1.5 in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from python-dateutil>=2.8.2->htmldate>=1.4.3->trafilatura) (1.16.0)
Requirement already satisfied: pytz-deprecation-shim in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from tzlocal->dateparser>=1.1.2->htmldate>=1.4.3->trafilatura) (0.1.0.post0)
Requirement already satisfied: tzdata in /home/pevj/anaconda3/envs/llm/lib/python3.11/site-packages (from pytz-deprecation-shim->tzlocal->dateparser>=1.1.2->htmldate>=1.4.3->trafilatura) (2023.3)

In [7]:
# list of webpages to index
webpages = [ "https://www.basketball-reference.com/" ]

In [8]:
from llama_index import TrafilaturaWebReader

web_docs = TrafilaturaWebReader().load_data([webpages[0]])
web_docs[0].text

"Basketball Stats and History Statistics, scores, and history for the NBA, ABA, WNBA, and top European competition.\nEvery NBA & Every WNBA Player\nPlay Immaculate Grid\nPut your men's basketball knowledge to the test with our daily men's basketball trivia game. Can you complete the grid?\nRecent DebutsChance Comanche (POR), Jacob Gilyard (MEM), RaiQuan Gray (BRK), Justin Minaya (POR), Donovan Williams (ATL) and Jeenathan Williams (POR)\nNBA & ABA, WNBA, NBL, G League, and top International players\nIncludes indexed lists of players. International leagues include top European leagues and EuroLeague and EuroCup competitions, as well as China's CBA, Australia's NBL, and Men's Olympics.\nIn MemoriamHenry Dickerson, Charles Balentine, George Wilson, Henry Logan, Dedric Willoughby and Nikki McCray\nPlayer pages include basic statistics and links to player's game logs, splits, advanced stats, and more.\nEvery NBA Team\n2023-24 NBA Standings\nSummary · Schedule · Scores · Leaders · Rookies\nTeam pages include statistics, rosters, payroll, schedules, game logs, splits, advanced stats, and more.\nStathead Basketball Powered By Basketball Reference\nThe sports search engine that was made for fans like you\nExploring the Basketball Reference database just got easier\nBenefits of Stathead:\n- Access to the most complete sports database on the internet\n- Affordable (as low as $8/month)\n- Discovery tools to search the Basketball Reference database\n- Customized leaderboards\n- Ad free viewing on Basketball Reference\nStathead Resources\nScores\n|Miami Heat||89||Final|\n|Denver Nuggets||94|\n|1||2||3||4|\n|MIA (1-4)||24||27||20||18|\n|DEN (4-1)||22||22||26||24|\n» Search BAA/NBA & ABA Box Scores From 1946-47 to Present\nJun 12 Top Performers\n|PTS||TRB||AST||GmSc|\n|Nikola Jokić (DEN)||28||16||4||24.3|\n|Jimmy Butler (MIA)||21||3||5||15.6|\n|Bam Adebayo (MIA)||20||12||1||15.1|\n|Michael Porter Jr. (DEN)||16||13||3||12.3|\n|Kentavious Caldwell-Pope (DEN)||11||4||2||11.3|\n» See all Jun 12 players\nWhat's Happening\nImmaculate Grid Expands to Women's Basketball\nWe're excited to announce that Sports Reference has expanded Immaculate Grid, the viral sports-themed trivia game, to cover the WNBA!\nPlay the Women's and Men's version today!\nWomen's Stats Added to College Basketball Reference!\nSign up for the Pro Basketball Reference newsletter!\nA daily recap of top performers, scores and statistical highlights, straight to your inbox!\n2022-23 NBA Season\nDive Deeper with Stathead Basketball\nSubscribe to Stathead Basketball powered by Basketball Reference. Explore the Basketball Reference database with our array of easy-to-use discovery tools. Get your first month free!\nWNBA\nSite News\nWNBA Award Voting Added to Basketball Reference\nArena Information for Every Game in NBA & ABA History Added to Basketball Reference\nNew Feature! Check Out the Last Five Games Tables on Player Pages\nFor Your Reference, A Sports Reference Podcast\nListen to the Sports Reference team share fascinating stories they have uncovered throughout 20+ years of building the sites, researching and diving into the data.\nSubscribe on Spotify, Apple Podcasts, Google Podcasts or listen on YouTube.\nTrending Player PagesChristian Wood, LeBron James, Michael Jordan, Stephen Curry, Magic Johnson, Kobe Bryant, Kyrie Irving, Russell Westbrook, Chris Paul, Kevin Durant\nHoops Rumors\n- Lowe’s Latest: Lillard, Harden, Raptors, Bucks\n- Draft Notes: Holland, Buzelis, Ignite, NBL Blitz\n- 24-Team Field Set For 2024 Olympic Qualifying Tournaments\n- Southwest Notes: Luka, Brooks, Mavs, Whitmore, Branham\n- Nets Sign Harry Giles To Non-Guaranteed Deal\n- World Cup Semifinals Set; Serbia, Germany Qualify For Olympics\n- Latest On James Harden\nSports Reference Blog\nBasketball Reference Blog and Articles\nUpcoming Dates\n- November 3: NBA In-Season Tournament games begin\n- November 9: Hawks vs Magic in Mexico City\n- December 9: NBA In-Season Tournament ends\n- January 11, 2024: Nets vs Cavaliers in Paris\n- February 18, 2024: NBA All-Star Game\n- April 20, 2024: Final day of 2024 NBA regular season\n- April 16-19, 2024: NBA Play-in Tournament\n- April 20, 2024: NBA Playoffs begin\n- June 6, 2024: Game 1 of NBA Finals\nView More Items\nLeaders - 2023-24 & All-Time\nSeason-by-Season Top 20s\nAll-Time Leaderboards\nView all leaderboard categories or select one below:\n» View upcoming player milestones\nSeasons\n2023-24 NBA\nScheduled Games\n|Tue Oct 24, 2023|\n|LA Lakers @ Denver||7:30 pm||TNT|\n|Phoenix @ Golden State||10:00 pm||TNT|\n|Wed Oct 25, 2023|\n|Atlanta @ Charlotte||7:00 pm|\n|Washington @ Indiana||7:00 pm|\n|Boston @ New York||7:00 pm||ESPN|\n|Houston @ Orlando||7:00 pm|\n|Cleveland @ Brooklyn||7:30 pm|\n|Detroit @ Miami||7:30 pm|\n|Minnesota @ Toronto||7:30 pm|\n|Oklahoma City @ Chicago||8:00 pm|\n|New Orleans @ Memphis||8:00 pm|\n|Sacramento @ Utah||9:00 pm|\n|Dallas @ San Antonio||9:30 pm||ESPN|\n|Portland @ LA Clippers||10:30 pm|\n|Thu Oct 26, 2023|\n|Philadelphia @ Milwaukee||7:30 pm||TNT|\n|Phoenix @ LA Lakers||10:00 pm||TNT|\n|Fri Oct 27, 2023|\n|Detroit @ Charlotte||7:00 pm|\n|Denver @ Memphis||7:00 pm|\n|New York @ Atlanta||7:30 pm|\n|Miami @ Boston||7:30 pm||ESPN|\n|Oklahoma City @ Cleveland||7:30 pm|\n|Toronto @ Chicago||8:00 pm|\n|Houston @ San Antonio||8:00 pm|\n|Brooklyn @ Dallas||8:30 pm|\n|LA Clippers @ Utah||9:30 pm|\n|Orlando @ Portland||10:00 pm|\n|Golden State @ Sacramento||10:00 pm||ESPN|\nWNBA\nStandings\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Las Vegas Aces||32||6||.842||—|\n|New York Liberty||31||7||.816||1.0|\n|Connecticut Sun||26||12||.684||6.0|\n|Dallas Wings||20||18||.526||12.0|\n|Minnesota Lynx||19||19||.500||13.0|\n|Washington Mystics||18||20||.474||14.0|\n|Atlanta Dream||17||20||.459||14.5|\n|Chicago Sky||16||22||.421||16.0|\n|Los Angeles Sparks||16||22||.421||16.0|\n|Indiana Fever||12||26||.316||20.0|\n|Seattle Storm||11||26||.297||20.5|\n|Phoenix Mercury||9||29||.237||23.0|\nLeaders\nWin Shares\nPoints Per Game\nTotal Rebounds Per Game\nAssists Per Game\nBlocks Per Game\nSteals Per Game\nScores & Schedule\n|September 5, 2023|\n|September 6, 2023|\n|Seattle Storm||@||Atlanta Dream|\nInternational Leagues\nLiga Endesa\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Barça||29||5||.853||-|\n|Real Madrid||28||6||.824||1.0|\n|Unicaja||24||10||.706||5.0|\n|Joventut||19||15||.559||10.0|\n|Valencia Basket||17||17||.500||12.0|\n|Lenovo Tenerife||24||10||.706||5.0|\n|Cazoo Baskonia||28||6||.824||1.0|\n|Gran Canaria||19||15||.559||10.0|\n|UCAM Murcia||16||18||.471||13.0|\n|Río Breogán||14||20||.412||15.0|\n|Monbus Obradoiro||14||20||.412||15.0|\n|Surne Bilbao Basket||14||20||.412||15.0|\n|Casademont Zaragoza||12||22||.353||17.0|\n|Baxi Manresa||12||22||.353||17.0|\n|Bàsquet Girona||11||23||.324||18.0|\n|Covirán Granada||11||23||.324||18.0|\n|Real Betis||10||24||.294||19.0|\n|Carplus Fuenlabrada||4||30||.118||25.0|\nBetclic Élite\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|AS Monaco||26||8||.765||-|\n|Metropolitans 92||23||11||.676||3.0|\n|LDLC ASVEL||23||11||.676||3.0|\n|JL Bourg||19||15||.559||7.0|\n|Cholet||18||16||.529||8.0|\n|JDA Dijon||21||13||.618||5.0|\n|SIG Strasbourg||17||17||.500||9.0|\n|Le Mans Sarthe||19||15||.559||7.0|\n|Paris Basketball||16||18||.471||10.0|\n|BCM Gravelines||16||18||.471||10.0|\n|Roanne||15||19||.441||11.0|\n|ESSM Le Portel||15||19||.441||11.0|\n|Nanterre 92||14||20||.412||12.0|\n|Nancy||14||20||.412||12.0|\n|Limoges CSP||14||20||.412||12.0|\n|Blois||14||20||.412||12.0|\n|ÉB Pau-Lacq-Orthez||12||22||.353||14.0|\n|Fos Provence Basket||10||24||.294||16.0|\nLega Basket Serie A UnipolSai\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|AX Armani Exchange Milano||23||7||.767||-|\n|Virtus Segafredo Bologna||23||7||.767||-|\n|Bertram Derthona Tortona||18||12||.600||5.0|\n|Banco di Sardegna Sassari||17||13||.567||6.0|\n|Umana Reyer Venezia||17||13||.567||6.0|\n|Dolomiti Energia Trento||15||15||.500||8.0|\n|Carpegna Prosciutto Basket Pesaro||14||16||.467||9.0|\n|Happy Casa Brindisi||15||15||.500||8.0|\n|Germani Basket Brescia||14||16||.467||9.0|\n|Scafati Basket||12||18||.400||11.0|\n|NutriBullet Treviso||12||18||.400||11.0|\n|Gevi Napoli||12||18||.400||11.0|\n|Openjobmetis Varese||17||13||.567||6.0|\n|UNAHOTELS Reggio Emilia||11||19||.367||12.0|\n|Allianz Pallacanestro Trieste||11||19||.367||12.0|\n|Scaligera Basket Verona||9||21||.300||14.0|\nStoiximan Basket League\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Olympiacos *||22||0||1.000||-|\n|Peristeri bwin *||14||8||.636||8.0|\n|Panathinaikos OPAP *||16||6||.727||6.0|\n|Promitheas Patras *||12||10||.545||10.0|\n|PAOK mateco *||13||9||.591||9.0|\n|AEK Athens *||12||10||.545||10.0|\n|Kolossos H Hotels *||11||11||.500||11.0|\n|Aris *||11||11||.500||11.0|\n|Lavrio Megabolt||7||15||.318||15.0|\n|ASK Karditsas||5||17||.227||17.0|\n|Apollon Patras||5||17||.227||17.0|\n|Ionikos||4||18||.182||18.0|\nAdmiralBet ABA League\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Crvena zvezda mts *||23||3||.885||1.0|\n|Partizan Mozzart Bet *||24||2||.923||-|\n|Cedevita Olimpija *||17||9||.654||7.0|\n|Budućnost VOLI *||18||8||.692||6.0|\n|FMP Meridian *||14||12||.538||10.0|\n|SC Derby *||11||15||.423||13.0|\n|Mega MIS *||12||14||.462||12.0|\n|Zadar *||11||15||.423||13.0|\n|Igokea m:tel||11||15||.423||13.0|\n|Split||10||16||.385||14.0|\n|Cibona||9||17||.346||15.0|\n|Mornar Barsko zlato||8||18||.308||16.0|\n|Borac Mozzart||7||19||.269||17.0|\n|MZT Skopje Aerodrom||7||19||.269||17.0|\nTürkiye Sigorta Basketbol Süper Ligi\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Anadolu Efes||22||8||.733||3.0|\n|Pınar Karşıyaka||21||9||.700||4.0|\n|Fenerbahçe Beko||24||6||.800||1.0|\n|Türk Telekom||25||5||.833||-|\n|Galatasaray Nef||14||16||.467||11.0|\n|Frutti Extra Bursaspor||17||13||.567||8.0|\n|Darüşşafaka||15||15||.500||10.0|\n|Tofaş||15||15||.500||10.0|\n|Bahçeşehir Koleji||13||17||.433||12.0|\n|ONVO Büyükçekmece||13||17||.433||12.0|\n|Manisa BB||12||18||.400||13.0|\n|Petkim Spor||12||18||.400||13.0|\n|Yukatel Merkezefendi Basket||11||19||.367||14.0|\n|Beşiktaş Emlakjet||10||20||.333||15.0|\n|Gaziantep Basketbol||9||21||.300||16.0|\n|AYOS Konyaspor||7||23||.233||18.0|\nVTB United League\n|Championship Round|\n|Team||W||L||W/L%||GB|\n|UNICS||4||6||.400||4.0|\n|CSKA Moscow||8||2||.800||-|\n|Lokomotiv Kuban||5||5||.500||3.0|\n|Zenit Saint Petersburg||7||3||.700||1.0|\n|MBA Moscow||2||8||.200||6.0|\n|Pari Nizhny Novgorod||4||6||.400||4.0|\nLigat Winner\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Maccabi Tel Aviv *||19||3||.864||-|\n|Bnei Herzliya||10||12||.455||9.0|\n|Hapoel Jerusalem *||15||7||.682||4.0|\n|Hapoel Tel Aviv *||18||4||.818||1.0|\n|Hapoel Be'er Sheva||10||12||.455||9.0|\n|Hapoel Haifa||6||16||.273||13.0|\n|Hapoel Holon *||14||8||.636||5.0|\n|Ironi Kiryat Ata||7||15||.318||12.0|\n|Hapoel Galil Elyon *||11||11||.500||8.0|\n|Hapoel Eilat||7||15||.318||12.0|\n|Ironi Ness Ziona *||11||11||.500||8.0|\n|Hapoel Gilboa Galil||4||18||.182||15.0|\nTurkish Airlines EuroLeague\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Real Madrid *||23||11||.676||1.0|\n|Barcelona *||23||11||.676||1.0|\n|AS Monaco *||21||13||.618||3.0|\n|Olympiacos *||24||10||.706||-|\n|Fenerbahçe Beko *||19||15||.559||5.0|\n|Maccabi Tel Aviv *||20||14||.588||4.0|\n|Partizan Mozzart Bet *||20||14||.588||4.0|\n|Žalgiris *||19||15||.559||5.0|\n|Cazoo Baskonia||18||16||.529||6.0|\n|Crvena zvezda mts||17||17||.500||7.0|\n|Anadolu Efes||17||17||.500||7.0|\n|EA7 Emporio Armani Milan||15||19||.441||9.0|\n|Valencia Basket||15||19||.441||9.0|\n|Virtus Segafredo Bologna||14||20||.412||10.0|\n|Bayern München||11||23||.324||13.0|\n|Alba Berlin||11||23||.324||13.0|\n|Panathinaikos||11||23||.324||13.0|\n|LDLC ASVEL||8||26||.235||16.0|\n7DAYS EuroCup\n|Group A|\n|Team||W||L||W/L%||GB|\n|Prometey *||14||4||.778||-|\n|Joventut *||13||5||.722||1.0|\n|ratiopharm Ulm *||11||7||.611||3.0|\n|Umana Reyer Venezia *||9||9||.500||5.0|\n|Lietkabelis *||10||8||.556||4.0|\n|Frutti Extra Bursaspor *||8||10||.444||6.0|\n|Germani Brescia *||8||10||.444||6.0|\n|Mincidelice JL Bourg *||9||9||.500||5.0|\n|U-BT Cluj-Napoca||5||13||.278||9.0|\n|Cedevita Olimpija||3||15||.167||11.0|\n|Group B|\n|Team||W||L||W/L%||GB|\n|Gran Canaria *||15||3||.833||-|\n|Türk Telekom *||13||5||.722||2.0|\n|Promitheas Patras *||11||7||.611||4.0|\n|Paris Basketball *||10||8||.556||5.0|\n|Hapoel Tel Aviv *||13||5||.722||2.0|\n|Budućnost VOLI *||9||9||.500||6.0|\n|London Lions *||8||10||.444||7.0|\n|Hamburg Towers *||6||12||.333||9.0|\n|Dolomiti Energia Trento||4||14||.222||11.0|\n|Śląsk Wrocław||1||17||.056||14.0|\nChinese Basketball Association\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Liaoning Flying Leopards *||30||10||.750||4.0|\n|Shanghai Sharks *||26||16||.619||9.0|\n|Zhejiang Guangsha Lions *||25||17||.595||10.0|\n|Beijing Ducks *||25||16||.610||9.5|\n|Guangzhou Loong Lions *||22||20||.524||13.0|\n|Zhejiang Golden Bulls *||35||7||.833||-|\n|Shenzhen Leopards *||28||14||.667||7.0|\n|Guangdong Southern Tigers *||33||8||.805||1.5|\n|Jiangsu Dragons *||19||23||.452||16.0|\n|Shanxi Loongs *||21||21||.500||14.0|\n|Shandong Hi-Speed Kirin *||23||19||.548||12.0|\n|Jilin Northeast Tigers *||19||22||.463||15.5|\n|Qingdao Eagles||18||24||.429||17.0|\n|Nanjing Monkey Kings||17||24||.415||17.5|\n|Beijing Royal Fighters||15||26||.366||19.5|\n|Fujian Sturgeons||11||29||.275||23.0|\n|Xinjiang Flying Tigers||20||15||.571||11.5|\n|Sichuan Blue Whales||10||30||.250||24.0|\n|Tianjin Pioneers||10||32||.238||25.0|\n|Ningbo Rockets||4||38||.095||31.0|\nHungry Jack's National Basketball League\n|Regular Season|\n|Team||W||L||W/L%||GB|\n|Sydney Kings *||19||9||.679||-|\n|New Zealand Breakers *||18||10||.643||1.0|\n|Tasmania JackJumpers *||16||12||.571||3.0|\n|Perth Wildcats *||15||13||.536||4.0|\n|Cairns Taipans *||18||10||.643||1.0|\n|South East Melbourne Phoenix *||15||13||.536||4.0|\n|Melbourne United||15||13||.536||4.0|\n|Adelaide 36ers||13||15||.464||6.0|\n|Brisbane Bullets||8||20||.286||11.0|\n|Illawarra Hawks||3||25||.107||16.0|\nMen's Olympics\nWomen's Olympics\n|Final Standings|\n|Team||W||L||W/L%||GB|\n|United States||6||0||1.000||-|\n|China||3||1||.750||2.0|\n|Spain||3||1||.750||2.0|\n|Japan||4||2||.667||2.0|\n|Serbia||3||3||.500||3.0|\n|France||3||3||.500||3.0|\n|Belgium||2||2||.500||3.0|\n|Australia||1||3||.250||4.0|\n|Canada||1||2||.333||3.5|\n|Puerto Rico||0||3||.000||4.5|\n|Nigeria||0||3||.000||4.5|\n|South Korea||0||3||.000||4.5|\nFIBA Basketball World Cup\n|Group A|\n|Team||W||L||W/L%||GB|\n|Dominican Republic||2||0||1.000||-|\n|Angola||1||1||.500||1.0|\n|Italy||1||1||.500||1.0|\n|Philippines||0||2||.000||2.0|\n|Group B|\n|Team||W||L||W/L%||GB|\n|Serbia||2||0||1.000||-|\n|Puerto Rico||1||1||.500||1.0|\n|South Sudan||1||1||.500||1.0|\n|China||0||2||.000||2.0|\n|Group C|\n|Team||W||L||W/L%||GB|\n|United States||2||0||1.000||-|\n|Greece||1||1||.500||1.0|\n|New Zealand||1||1||.500||1.0|\n|Jordan||0||2||.000||2.0|\n|Group D|\n|Team||W||L||W/L%||GB|\n|Lithuania||2||0||1.000||-|\n|Montenegro||2||0||1.000||-|\n|Egypt||0||2||.000||2.0|\n|Mexico||0||2||.000||2.0|\n|Group F|\n|Team||W||L||W/L%||GB|\n|Slovenia||2||0||1.000||-|\n|Cape Verde||1||1||.500||1.0|\n|Georgia||1||1||.500||1.0|\n|Venezuela||0||2||.000||2.0|\n|Group G|\n|Team||W||L||W/L%||GB|\n|Spain||2||0||1.000||-|\n|Brazil||1||1||.500||1.0|\n|Ivory Coast||1||1||.500||1.0|\n|Iran||0||2||.000||2.0|\nWe're Social...for Statheads\nEvery Sports Reference Social Media Account\nSite Last Updated: Wednesday, September 6, 2:08PM\nQuestion, Comment, Feedback, or Correction?\nSubscribe to our Free Email Newsletter\nSubscribe to Stathead Basketball: Get your first month FREE\nYour All-Access Ticket to the Basketball Reference Database\nDo you have a sports website? Or write about sports? We have tools and resources that can help you use sports data. Find out more."

In [9]:
from llama_index.node_parser.simple import SimpleNodeParser
from llama_index.langchain_helpers.text_splitter import TokenTextSplitter

text_splitter = TokenTextSplitter(
    chunk_size=1000 ### YOUR CODE HERE
)

node_parser = SimpleNodeParser(
    text_splitter=text_splitter ### YOUR CODE HERE
)

# parse nodes from workbooks and insert into vector index
for w_doc in web_docs:
    nodes = node_parser.get_nodes_from_documents([w_doc])
    for node in nodes:
        node.metadata = {'title': 'Basketball Stats and History',
                         'type': 'webpage',
                         'url': 'https://www.basketball-reference.com/',
                         'description': 'Basketball Stats and History',
                         'accessibility': 'public'
                        }

### Email Samples

In [13]:
from llama_index import Document
from llama_index.schema import MetadataMode

In [31]:
docEmailSample = Document(
    text="Hey Steph, let's grab dinner after the game on October 24th, KD of the Phoenix Suns", 
    metadata={
        'type': 'email',
        'datetime': "2023-09-01T15:30:00Z",
        'email_from': 'kevin.durant@suns.nba',
        'email_to': 'stephen.curry@warriors.nba',
        "token_list": token_string,
        'team': 'warriors'
    }
)
docEmailSample2 = Document(
    text="Yo, you were a monster last year, can't wait to play against you in the opener! Bron Bron", 
    metadata={
        'type': 'email',
        'datetime': "2023-09-01T02:30:00Z",
        'email_from': 'lebron.james@lakers.nba',
        'email_to': 'nikola.jokic@nuggets.nba',
        "token_list": token_string,
        'team': 'nuggets'
    }
)
docScheduleSample = Document(
    text="""
        {
            "Date": "Tue Oct 24 2023",
            "Start (ET)": "7:30p",
            "Visitor/Neutral": "Los Angeles Lakers",
            "PTS": "",
            "Home/Neutral": "Denver Nuggets",
            "PTS": "",
            "Attend.": "",
            "Arena": "Ball Arena",
            "Notes": ""
        }
    """,
    metadata={
        'type': 'schedule',
        "token_list": token_string,
        'teams': 'lakers' # idk how to get list of metadata
    }
)
docScheduleSample2 = Document(
    text="""
        {
            "Date": "Tue Oct 24 2023",
            "Start (ET)": "10:00p",
            "Visitor/Neutral": "Phoenix Suns",
            "PTS": "",
            "Home/Neutral": "Golden State Warriors",
            "PTS": "",
            "Attend.": "",
            "Arena": "Chase Center",
            "Notes": ""
        }
    """,
    metadata={
        'type': 'schedule',     
        "token_list": token_string,
        'team': 'warriors' # idk how to get list of metadata
############################ YOU ASK(??) FOR SMTH LIKE THIS:
        # 'list': [
        #     {'team': 'warriors'}, 
        #     {'team': 'lakers'},
        #     {'team': 'nuggets'},
        # ]
    }
)

docAdditionalSamples = [docEmailSample, docEmailSample2, docScheduleSample, docScheduleSample2]

### Example to play with

In [21]:
docPano = Document(
    text='NBA Player born Nov 1989 in Greece', 
    metadata={
        'type': 'player', 
        'number': '42', 
        'team': 'surfers', 
        'position': 'floating point guard',
        'specialty': 'eurostepping',
        'dress-style': 'barefoot',
        'secret': 'loves pizza'
    }
)
docChristos = Document(
    text='NBA Player born Dec 1994 in the USA', 
    metadata={
        'type': 'player', 
        'number': '3', 
        'team': 'climbers', 
        'position': 'strong forward pass',
        'specialty': 'ally-oop',
        'dress-style': 'pink-on-Wednesdays',
        'secret': 'loves cats, candy and cartoons'
    },
    excluded_llm_metadata_keys=['secret'],
    metadata_seperator="::",
    metadata_template="{key}=>{value}",
    text_template="Metadata: {metadata_str}\n-----\nContent: {content}",
)

docExamplesToPlayWith = [docPano, docChristos]

print("The LLM sees this: \n", docChristos.get_content(metadata_mode=MetadataMode.LLM))
print("The Embedding model sees this: \n", docChristos.get_content(metadata_mode=MetadataMode.EMBED))

The LLM sees this:
 Metadata: type=>player::number=>3::team=>climbers::position=>strong forward pass::specialty=>ally-oop::dress-style=>pink-on-Wednesdays
-----
Content: NBA Player born Dec 1994 in the USA
The Embedding model sees this:
 Metadata: type=>player::number=>3::team=>climbers::position=>strong forward pass::specialty=>ally-oop::dress-style=>pink-on-Wednesdays::secret=>loves cats, candy and cartoons
-----
Content: NBA Player born Dec 1994 in the USA

## Indexing

### Context setting

In [22]:
from llama_index import ServiceContext
from llama_index.llms import OpenAI
from llama_index.embeddings.openai import OpenAIEmbedding

embed_model = OpenAIEmbedding()
chunk_size = 1000
llm = OpenAI(
    temperature=0, 
    model="gpt-3.5-turbo",
    streaming=True
)

service_context = ServiceContext.from_defaults(
    llm=llm, 
    chunk_size=chunk_size,
    embed_model=embed_model
)

### Vector Store

This is intended to be a global vector store to insert the nodes from all data sources

In [23]:
!pip3 install -U -q chromadb==0.4.6 tiktoken==0.4.0 sentence-transformers==2.2.2 pydantic==1.10.11

In [24]:
from llama_index import VectorStoreIndex
from llama_index.vector_stores import ChromaVectorStore
from llama_index.storage.storage_context import StorageContext
import chromadb

In [35]:
chroma_client = chromadb.Client()
chroma_collection = chroma_client.create_collection("all_data")
vector_store = ChromaVectorStore(chroma_collection=chroma_collection)
storage_context = StorageContext.from_defaults(vector_store=vector_store)
vector_index = VectorStoreIndex([], storage_context=storage_context, service_context=service_context)

INFO:chromadb.telemetry.posthog:Anonymized telemetry enabled. See https://docs.trychroma.com/telemetry for more information.
Anonymized telemetry enabled. See https://docs.trychroma.com/telemetry for more information.

### Populate Vector Store with Nodes

Parse nodes for each loaded data source and insert it to the vector store.

In [36]:
# vector_index.insert_nodes(nodes) 
# vector_index.insert_nodes(docExamplesToPlayWith)
vector_index.insert_nodes(docAdditionalSamples)

WARNING:chromadb.segment.impl.metadata.sqlite:Insert of existing embedding ID: 6695b5cd-552d-4e4f-b1ed-4dbba2e636fb
Insert of existing embedding ID: 6695b5cd-552d-4e4f-b1ed-4dbba2e636fb
WARNING:chromadb.segment.impl.metadata.sqlite:Insert of existing embedding ID: f385090d-36f5-4881-a391-5758cfda1c8f
Insert of existing embedding ID: f385090d-36f5-4881-a391-5758cfda1c8f
WARNING:chromadb.segment.impl.metadata.sqlite:Insert of existing embedding ID: 1262c452-8f95-4fb6-8054-d5192385db88
Insert of existing embedding ID: 1262c452-8f95-4fb6-8054-d5192385db88
WARNING:chromadb.segment.impl.metadata.sqlite:Insert of existing embedding ID: ec5aeb76-267c-4bc2-a2cf-d3b61f121268
Insert of existing embedding ID: ec5aeb76-267c-4bc2-a2cf-d3b61f121268
WARNING:chromadb.segment.impl.vector.local_hnsw:Add of existing embedding ID: 6695b5cd-552d-4e4f-b1ed-4dbba2e636fb
Add of existing embedding ID: 6695b5cd-552d-4e4f-b1ed-4dbba2e636fb
WARNING:chromadb.segment.impl.vector.local_hnsw:Add of existing embedding ID: f385090d-36f5-4881-a391-5758cfda1c8f
Add of existing embedding ID: f385090d-36f5-4881-a391-5758cfda1c8f
WARNING:chromadb.segment.impl.vector.local_hnsw:Add of existing embedding ID: 1262c452-8f95-4fb6-8054-d5192385db88
Add of existing embedding ID: 1262c452-8f95-4fb6-8054-d5192385db88
WARNING:chromadb.segment.impl.vector.local_hnsw:Add of existing embedding ID: ec5aeb76-267c-4bc2-a2cf-d3b61f121268
Add of existing embedding ID: ec5aeb76-267c-4bc2-a2cf-d3b61f121268

### Setup Metadata Filtering

In [39]:
from llama_index.tools import FunctionTool
from llama_index.vector_stores.types import (
    VectorStoreInfo,
    MetadataInfo,
    ExactMatchFilter,
    MetadataFilters,
)
from llama_index.retrievers import VectorIndexRetriever
from llama_index.query_engine import RetrieverQueryEngine

from typing import List, Tuple, Any
from pydantic import BaseModel, Field

top_k = 3

# vector_store_info = VectorStoreInfo(
#     content_info="information about NBA players, teams, games, organizations, etc.",
#     metadata_info=[MetadataInfo(
#         name="title",
#         type="str",
#         description="info of player, team, organization, games, etc.",
#     )]
# )

In [40]:
class AutoRetrieveModel(BaseModel):
    query: str = Field(..., description="natural language query string")
    filter_key_list: List[str] = Field(
        ..., description="List of metadata filter field names"
    )
    filter_value_list: List[str] = Field(
        ...,
        description=(
            "List of metadata filter field values (corresponding to names specified in filter_key_list)"
        )
    )

In [42]:
token = token_list[0]

In [ ]:
def auto_retrieve_fn(
    query: str, filter_key_list: List[str], filter_value_list: List[str]
):
    """Auto retrieval function.

    Performs auto-retrieval from a vector database, and then applies a set of filters.

    """
    query = query or "Query"
    
    for i, (k, v) in enumerate(zip(filter_key_list, filter_value_list)):
        if k == 'token_list':
            if token not in v:
                v = ''

    exact_match_filters = [
        ExactMatchFilter(key=k, value=v)
        for k, v in zip(filter_key_list, filter_value_list)
        # ExactMatchFilter(key='token_list', value=v)
        # for k, v in zip(filter_key_list, filter_value_list)
    ]
    retriever = VectorIndexRetriever(
        vector_index, filters=MetadataFilters(filters=exact_match_filters), top_k=top_k
    )
    query_engine = RetrieverQueryEngine.from_args(retriever)

    response = query_engine.query(query)
    return str(response)

## Query Engine

In [36]:
query_engine = vector_index.as_query_engine(
    similarity_top_k=2,
    vector_store_query_mode="default",
    filters=MetadataFilters(
        filters=[
            ExactMatchFilter(key="team", value="warriors"),
            [ExactMatchFilter(key="token_list", value=token_string)],
             for v in token_list
        ]
    ),
    alpha=None,
    doc_ids=None,
    # chat_mode='react',
)

In [37]:
# response = query_engine.query("Which teams are we playing this month? Do I have any email communication indicating a meeting with any of the players of those teams")
response = query_engine.query("Which teams are we playing this month?")
print(response.response)
response.metadata

We are playing against the Phoenix Suns this month.

{'92593b92-8af4-46ed-9e13-1fd246f9dda0': {'type': 'email',
  'datetime': '2023-09-01T15:30:00Z',
  'email_from': 'kevin.durant@suns.nba',
  'email_to': 'stephen.curry@warriors.nba',
  'team': 'warriors'},
 '06a69ec8-3ba5-44c1-964f-837f04e4bf5f': {'type': 'schedule',
  'team': 'warriors'}}

## SQL Query Tool

In [ ]:
!pip3 install -q -U pandas

In [74]:
import pandas as pd

def get_df_from_workbook(sheet_name,
                         workbook_id = '1MB1ZsQul4AB262AsaY4fHtGW4HWp2-56zB-E5xTbs2A'):
    url = f'https://docs.google.com/spreadsheets/d/{workbook_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
    return pd.read_csv(url)

In [76]:
sheet_names = ['Teams', 'Players', 'Schedule', 'Player_Stats']
dict_of_dfs = {sheet: get_df_from_workbook(sheet) for sheet in sheet_names}
dict_of_dfs['Teams'].head()

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1949-50,2023-24,75,5855,2891,2964,0.494,49,12,0,1
1,Boston Celtics,NBA/BAA,1946-47,2023-24,78,6032,3570,2462,0.592,60,33,10,17
2,Brooklyn Nets,NBA/ABA,1967-68,2023-24,57,4530,1996,2534,0.441,31,5,2,2
3,Charlotte Hornets,NBA,1988-89,2023-24,34,2631,1153,1478,0.438,10,0,0,0
4,Chicago Bulls,NBA,1966-67,2023-24,58,4598,2344,2254,0.510,37,9,6,6

In [77]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///:memory:")

In [78]:
for dict in dict_of_dfs:
    print(dict)

Teams
Players
Schedule
Player_Stats

In [79]:
dict_of_dfs['Teams'].head()

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1949-50,2023-24,75,5855,2891,2964,0.494,49,12,0,1
1,Boston Celtics,NBA/BAA,1946-47,2023-24,78,6032,3570,2462,0.592,60,33,10,17
2,Brooklyn Nets,NBA/ABA,1967-68,2023-24,57,4530,1996,2534,0.441,31,5,2,2
3,Charlotte Hornets,NBA,1988-89,2023-24,34,2631,1153,1478,0.438,10,0,0,0
4,Chicago Bulls,NBA,1966-67,2023-24,58,4598,2344,2254,0.510,37,9,6,6

In [80]:
for df in dict_of_dfs:
    dict_of_dfs[df].to_sql(df, con=engine)

In [81]:
from llama_index import SQLDatabase

sql_database = SQLDatabase(
    engine,
    # include_tables=['Teams', 'Players_2023-24', 'Schedule_2023-24', 'Player_Stats_2022-23_(Playoffs)', 'Player_Stats_2022-23_(Regular_Season)']
    include_tables=list(dict_of_dfs.keys())
    )

In [82]:
from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

sql_query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    tables=list(dict_of_dfs.keys())
)

In [84]:
from llama_index.tools.query_engine import QueryEngineTool

sql_nba_tool = QueryEngineTool.from_defaults(
    query_engine=sql_query_engine, # 
    name='sql_nba_tool', 
    description=("""Useful for translating a natural language query into a SQL query over a table containing:
                    1. teams, containing information related to all NBA teams
                    2. players, containing information related to all NBA players
                    3. schedule, containing information related to the entire NBA game schedule
                    4. player_stats_playoffs, containing information related to all NBA player stats
                    """
    ),

)

In [85]:
from llama_index.agent import OpenAIAgent

agent = OpenAIAgent.from_tools(
    [sql_nba_tool], llm=llm, verbose=True 
)

In [86]:
response = agent.chat("Which player has the best statistics in 3-point scoring rate during the playoffs?")

=== Calling Function ===
Calling function: sql_nba_tool with args: {
  "input": "SELECT player_name, three_point_percentage FROM player_stats_playoffs ORDER BY three_point_percentage DESC LIMIT 1"
}
INFO:llama_index.indices.struct_store.sql_query:> Table desc str: Table 'Teams' has columns: index (BIGINT), Franchise (TEXT), Lg (TEXT), From (TEXT), To (TEXT), Yrs (BIGINT), G (BIGINT), W (BIGINT), L (BIGINT), W/L% (FLOAT), Plyfs (BIGINT), Div (BIGINT), Conf (BIGINT), Champ (BIGINT), and foreign keys: .

Table 'Players' has columns: index (BIGINT), # (FLOAT), Player (TEXT), Pos (TEXT), HT (TEXT), WT (BIGINT), Age (BIGINT), Current Team (TEXT), YOS (BIGINT), Pre-Draft Team (TEXT), Draft Status (TEXT), Nationality (TEXT), Unnamed: 11 (FLOAT), first (TEXT), last (TEXT), team (TEXT), first.last@team.nba (TEXT), Unnamed: 16 (FLOAT), Unnamed: 17 (FLOAT), Unnamed: 18 (FLOAT), Unnamed: 19 (FLOAT), and foreign keys: .

Table 'Schedule' has columns: index (BIGINT), Date (TEXT), Start (ET) (TEXT), Visitor/Neutral (TEXT), PTS (FLOAT), Home/Neutral (TEXT), PTS.1 (FLOAT), Unnamed: 6 (FLOAT), Unnamed: 7 (FLOAT), Attend. (FLOAT), Arena (TEXT), Notes (FLOAT), and foreign keys: .

Table 'Player_Stats' has columns: index (BIGINT), RANK (FLOAT), NAME (TEXT), TEAM (TEXT), POS (TEXT), AGE (FLOAT), GP (BIGINT), MPG (FLOAT), USG% (FLOAT), TO% (FLOAT), FTA (BIGINT), FT% (FLOAT), 2PA (BIGINT), 2P% (FLOAT), 3PA (BIGINT), 3P% (FLOAT), eFG% (FLOAT), TS% (FLOAT), PPG (FLOAT), RPG (FLOAT), APG (FLOAT), SPG (FLOAT), BPG (FLOAT), TPG (FLOAT), P+R (FLOAT), P+A (FLOAT), P+R+A (FLOAT), VI (FLOAT), ORtg (FLOAT), DRtg (FLOAT), and foreign keys: .
> Table desc str: Table 'Teams' has columns: index (BIGINT), Franchise (TEXT), Lg (TEXT), From (TEXT), To (TEXT), Yrs (BIGINT), G (BIGINT), W (BIGINT), L (BIGINT), W/L% (FLOAT), Plyfs (BIGINT), Div (BIGINT), Conf (BIGINT), Champ (BIGINT), and foreign keys: .

Table 'Players' has columns: index (BIGINT), # (FLOAT), Player (TEXT), Pos (TEXT), HT (TEXT), WT (BIGINT), Age (BIGINT), Current Team (TEXT), YOS (BIGINT), Pre-Draft Team (TEXT), Draft Status (TEXT), Nationality (TEXT), Unnamed: 11 (FLOAT), first (TEXT), last (TEXT), team (TEXT), first.last@team.nba (TEXT), Unnamed: 16 (FLOAT), Unnamed: 17 (FLOAT), Unnamed: 18 (FLOAT), Unnamed: 19 (FLOAT), and foreign keys: .

Table 'Schedule' has columns: index (BIGINT), Date (TEXT), Start (ET) (TEXT), Visitor/Neutral (TEXT), PTS (FLOAT), Home/Neutral (TEXT), PTS.1 (FLOAT), Unnamed: 6 (FLOAT), Unnamed: 7 (FLOAT), Attend. (FLOAT), Arena (TEXT), Notes (FLOAT), and foreign keys: .

Table 'Player_Stats' has columns: index (BIGINT), RANK (FLOAT), NAME (TEXT), TEAM (TEXT), POS (TEXT), AGE (FLOAT), GP (BIGINT), MPG (FLOAT), USG% (FLOAT), TO% (FLOAT), FTA (BIGINT), FT% (FLOAT), 2PA (BIGINT), 2P% (FLOAT), 3PA (BIGINT), 3P% (FLOAT), eFG% (FLOAT), TS% (FLOAT), PPG (FLOAT), RPG (FLOAT), APG (FLOAT), SPG (FLOAT), BPG (FLOAT), TPG (FLOAT), P+R (FLOAT), P+A (FLOAT), P+R+A (FLOAT), VI (FLOAT), ORtg (FLOAT), DRtg (FLOAT), and foreign keys: .
Got output: The player with the highest three-point percentage in the playoffs is Nick Richards, with a percentage of 1.0.
========================