In [3]:
!pip3 install -q -U pandas

In [41]:
import pandas as pd

sheet_name = "GSW_token_list"
workbook_id = '1MB1ZsQul4AB262AsaY4fHtGW4HWp2-56zB-E5xTbs2A'
url = f'https://docs.google.com/spreadsheets/d/{workbook_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
df = pd.read_csv(url)
df.head()

              Staff Job title
0     Klay Thompson    Player
1  Jonathan Kuminga    Player
2        Chris Paul    Player
3     Stephen Curry    Player
4       Moses Moody    Player

In [ ]:
import secrets

for i in range(len(df['Staff'])):
    df['Token'] = secrets.token_hex(16)
    
df.head

In [45]:
df.to_csv('token_list.csv', index=False)